.footer {
    background-color: #252525;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: space-between;
}
    
.infotitle{
    display: flex;
    justify-content: space-between;

}
.nav__link {
    
}
.infotitle__section {
    display: flex;
    flex-wrap: wrap;

}
.nav__linkin {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $seconary-color;
    opacity: 0.7;
}

