.footer {
    background-color: #252525;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: space-between;
}
    
.info{
    display: inline-flex;
    justify-content: space-between;

}
