@import "../main/vars.scss";

.fs {
    display: flex;
    padding: 160px 0 150px;

@media (max-width: 991px) {
    display: inline;
}
    
    &__fs__content{
        width: 50%;
    
    @media (max-width: 991px) {
        width: 60%;
    }
    }

    &__title {
        font-weight: bold;
        font-size: 48.83px;
        line-height: 120%;
        color: $primary-color;
        max-width: 600px;
        margin: 0 0 50px;
    
    @media (max-width: 991px) {
        font-size: 30px;

    }
    }

    &__text {
        max-width: 620px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 70px;
        color: $primary-color;

        opacity: 0.7;
    }
    &__advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: $light-color;
        padding: 20px;
    }
    &__img {
        width: 50%;
        position: relative;
        
        @media (max-width: 991px) {
            width: 40%;
            
        }
        @media (max-width: 575px) {
            display: none;
        }
    }
    
}
    