.menu-item {
    display: inline-flex;
    justify-content: flex-start;
    box-sizing: border-box;


    &__img {
        
        background: url(XAWO3cHvnE.jpg);
        border-radius: 10px 10px 0px 0px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
    
    }

    &__title {
        font-family: $seconary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 24px;
        display: flex;
        align-items: center;

        color: $primary-color;
    }

    &__description {
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        
        display: flex;
        align-items: center;

        color: $primary-color;

        opacity: 0.7;
    }
} 