.footer 
    .info 
        .infotitle 
            .infotitle__section 
                img(src="./assets/imgs/logo.svg", alt="food").logo-img
                a(href="#").nav__link www.company name.com 
                a(href="#").nav__link companyname@gmail.com
                a(href="#").nav__link Phone: +7 485-118-03-25
            .infotitle__section
                a(href="#").nav__link Home
                a(href="#").nav__link Landingpage
                a(href="#").nav__link Documentation
                a(href="#").nav__link Referral Program
                a(href="#").nav__link UI & UX Design
                a(href="#").nav__link Web Design
            .infotitle__section
                a(href="#").nav__link Menu
                a(href="#").nav__link Landingpage
                a(href="#").nav__link Documentation
                a(href="#").nav__link Referral Program
                a(href="#").nav__link UI & UX Design
                a(href="#").nav__link Web Design
            .infotitle__section
                a(href="#").nav__link Menu
                a(href="#").nav__link Landingpage
                a(href="#").nav__link Documentation
                a(href="#").nav__link Referral Program
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
            
            
                
               
          
               
    