.footer 
    .info 
        a.logo(href="index.html").logo
                img(src="./assets/imgs/logo.svg", alt="food").logo-img
                p www.company name.com
                p companyname@gmail.com
                p Phone: +7 485-118-03-25