.footer 
    .container 
        .infotitle 
            .footer__contacts 
                a.logo(href="index.html").logo
                a(href="#").nav__linkin www.company name.com 
                a(href="#").nav__linkin companyname@gmail.com
                a(href="#").nav__linkin Phone: +7 485-118-03-25
        .infotitle__section
            a(href="#").nav__link Home
            a(href="#").nav__linkin Landingpage
            a(href="#").nav__linkin Documentation
            a(href="#").nav__linkin Referral Program
            a(href="#").nav__linkin UI & UX Design
            a(href="#").nav__linkin Web Design
        .infotitle__section
            a(href="#").nav__link Menu
            a(href="#").nav__linkin Landingpage
            a(href="#").nav__linkin Documentation
            a(href="#").nav__linkin Referral Program
            a(href="#").nav__linkin UI & UX Design
            a(href="#").nav__linkin Web Design
        .infotitle__section
            a(href="#").nav__link Menu
            a(href="#").nav__linkin Landingpage
            a(href="#").nav__linkin Documentation
            a(href="#").nav__linkin Referral Program
            img(src="./assets/imgs/social.svg", alt="")
            img(src="./assets/imgs/facebook.svg", alt="")
            img(src="./assets/imgs/twitter.svg", alt="")
            img(src="./assets/imgs/youtube.svg", alt="")
            
            
                
               
          
               
    