include ../mixins/advantage-item

section.fs 
    .container 
        h1 Making time a good time by making food the good food.
        p There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment,
        img(src=".//assets/imgs/foto.png", alt="foto").foto-img
        button.btn Order Now
        button.btn Food Details
    
    .container 
        img(src="./assets/imgs/Features.svg", alt="")
        h2 Food with a New Passion
        .advantage-items 
        +advantage-item("./assets/imgs/house.svg","Quality Food","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")
        +advantage-item("./assets/imgs/moto.svg","Food Delivery","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")
        +advantage-item("./assets/imgs/smile.svg","Super Taste","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")