
.container 
    section.fs
        .fs__content 
            h1.fs__title Making time a good time by making food the good food.
            p.fs__text There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment,
        
            button.btn Order Now
            button.btn.second Food Details
        img(src=".//assets/imgs/foto.png", alt="foto").fs__img
        
    