include ../mixins/advantage-item

.container
    section.fs2
        .fs2__content 
            h3.fs2__title Features
            h2.fs2__text Food with a New Passion
            .fs__advantages
                +advantage-item("./assets/imgs/house.png","Quality Food","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")
                +advantage-item("./assets/imgs/moto.png","Food Delivery","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")
                +advantage-item("./assets/imgs/smile.png","Super Taste","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")

