include ../mixins/menu-item
include ../mixins/raiting-item

.container
    section.fs3
        .fs3__content
            h3.fs3__title Menu
            h2.fs3__cont Food Full of treaty Love
            p.fs3__text There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers, 
            .fs3__menu 
                +menu-item("./assets/imgs/eat.png","Vegie Muffen","16$","There are many things are needed to start the Fast Food Business.")
                +menu-item("./assets/imgs/eat2.png","Salads","12$","There are many things are needed to start the Fast Food Business.")
                +menu-item("./assets/imgs/eat3.png","Burger","10$","There are many things are needed to start the Fast Food Business.")
                +menu-item("./assets/imgs/eat4.png","Delmonico Steak dish","14$","There are many things are needed to start the Fast Food Business.")
                +menu-item("./assets/imgs/eat5.png","Egg Masala","9$","There are many things are needed to start the Fast Food Business.")
                +menu-item("./assets/imgs/eat6.png","Peach Melba dish","15$","There are many things are needed to start the Fast Food Business.")
            .fs__raiting 
                +raiting-item("../assets/imgs/plus.png","")