header.header 
    .container 
        .header_row 
            a.logo(href="index.html").logo
                img(src="./assets/imgs/logo.svg", alt="food").logo-img
            menu.nav 
                a(href="#").nav_link Home 
                a(href="#").nav_link About us
                a(href="#").nav_link Menu
                a(href="#").nav_link Features
                a(href="#").nav_link Contact us
            button.btn Booking Now
        .header 
            h1 Making time a good time by making food the good food.
            p There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment,
            button.btn Order Now
            
