header.header 
    .container 
        .header__row 
            a.logo(href="index.html").logo
                img(src="./assets/imgs/logo.svg", alt="food").logo-img
            menu.nav 
                a(href="#").nav__link Home 
                a(href="#").nav__link About us
                a(href="#").nav__link Menu
                a(href="#").nav__link Features
                a(href="#").nav__link Contact us
            button.btn Booking Now
    
    
            
