mixin advantage-item(img, title, description, imgplus, raiting)
    .advantage-item
        img(src=img alt=title).advantage-item__img
        .advantage-item__content 
            .advantage-item__title=title
            .advantage-item__description=description
            

