@import "./vars.scss";

html {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    background-color: #E5E5E5;
    color: $primary-color;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    
}
a {
    text-decoration: none;
    ;
}
button {
    outline: none;
    border: 0;
    cursor: pointer;

}
.foto-img {
    width: 578px;
    height: 670px;
    background: url(.png);
    mix-blend-mode: darken;
}
.container .h1 {
    font-size: 48.83px;
    line-height: 58px;
    color: #150C01;
}