 //основной шрифт
 $primary-font: 'Roboto', sans-serif;
 //дополнительный шрифт
 $seconary-font: 'Philosopher', sans-serif;

 //основной цвет текста
 $primary-color: #150C01;
 //дополнительный цвет текста
 $seconary-color: #FFFFFF;

